<h1>Create a New Guest</h1>

<%= form_for @guest do |f| %>
<%= f.label :name  %>
<%= f.text_field :name %>
<%= f.label :occupation %>
<%= f.text_field :occupation %>
<%= f.label :rating %>
<%= f.number_field :rating %>
<%= f.submit "Create Guest" %>
<% end %>
